.App {
  background-color: #30333a;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom{
  width: fit-content;
  height: 150px;
  align-items: center;
  color: #a299ee;
  background-color: black;
  display: flex;
  align-content: center;
  font-size: 30px;
  font-family: 'OCR A';
}

.logo{
  height: 100px;
  width: 80px;
  padding-right: 50px;
}

.detect-style{
  background-color: #a299ee;
  border-radius: 30px;
  padding: 10px;
  color: black;
  font-family: 'OCR A';
  font-size: 30px;
  width: fit-content;
  /* display: flex;
  flex-direction: row;
  justify-items: center; */
}
#ti{
  margin-bottom: 50px;
}